<div class="form">
<%= simple_form_for [@request] do |f| %>

  <%= f.input :status, collection: ["Pending", "Accepted", "Declined"] %>
  <%= f.input :text, placeholder: 'Your answer' %>
  <%= f.button "REPONDRE", class: 'btn-form' %> </div>
<% end %>
</div>
