<div class="container" >
  <br>
  <br>
  <br>
  <br>


  <h1> My requests </h1>

  <% @requests.each do |r| %>
  <div class="request">
  <h4>  Request to  <strong> <%= r.team.title %> </strong></h4>
  <p> Your message: <%= r.text %> </p>
  <p> Status : <%= r.status %> </p>
</div>

  <%end%>
</div>

