
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 70%), url('<%= image_path 'annie-spratt-294450-unsplash.jpg' %>');">

  <h1>  </h1>

  <h2> Freelance, trouve ta team ici </h2>
</div>


<p>
  Tu commences en freelance et tu galères seul devant ton ordi?
  T'as envie de travailler avec d'autres freelances pour échanger des tips?
  T'es un expert et t'as envie d'aider des petits jeunots à monter en compétences?
  Ou tu veux de la compagnie tout simplement ?

  CREES ou REJOINS une team !
</p>


