.banner{
height: 100vh;
background-size: cover;
margin-top: -20px;
margin-bottom: 30px;


}





.banner h1{
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: Lato;
  z-index: 10;
  padding-top: 300px;

}


.mibanner{
height: 50vh;
background-size: cover;
margin-top: -60px;
margin-bottom: 30px;
}


.mibanner h1{
  text-align: center;
  color: white;
  padding-top: 10%;
}


.home-pic{
  height: 100vh;
  width: 50%;
  background-size: cover;
  margin-left: 50%;
}



