.btn-round{
  border: solid 1px #60F7DC;
  padding: 5px 10px;
  color: #60F7DC;
  border-radius: 30px;
  margin: 10px 0px;


}


.home-btn{
  border: solid 0.5px white;
  padding: 5px 10px;
  margin-left: 10vh;
  color: white;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
   font-size: 14px;

}

.home-btn a{
text-decoration: none;
}


.home-btn a:hover{
  color: white;

}


.hello{
width: 200px;
height: 100vh;
background: red;
position: absolute;
top: 0px;
right: 0px;
}

.btn-simple{
  color: #60F7DC;
  font-size: 15px;
  font-weight: 300;
}

.td a:hover{
  text-decoration:none;
  color:#60F7DC;
  opacity: 0.6;
}
