.request{
  background: white;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  font-family: Roboto;
  align-items: center;

}

.request i {
  font-size: 42px;
  margin-bottom: 10px;

}


.r-title{
  flex: 0 0 20%;
}


.r-content{
  flex: 0 0 50%;
}

.r-status{
  flex: 0 0 10%;
}


.fa-check-circle {
  color: #15FF3B;
}


.fa-times-circle{
  color: #FF0707;
}

.fa-clock{
color: #FF9315}
