.team-card{
  background: green;
  padding: 20px 40px;
  float: left;
  margin: 10px;
  width: 30%;

  border-radius: 5px;
  position: relative;
}


.team-card-show{
  background: white;
  padding: 30px 30px;
  margin: 20px auto;
  width: 90%;

  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.td h4{
  font-weight: 700;
  font-size: 17px;
  font-family: "Roboto", sans-serif;

}

.td {
   position: relative;
   left: 90px;
}

.td i{
  font-size: 20px;
  margin-left: 15px;
}


.lm {
  margin: 20px;
}

.lm p{
  color: #949494;
}

.lm a{
  text-decoration: none;
}

.lm a:hover{
  color: #60F7DC;
  font-weight: 500;
}


.lm i{
  font-size: 20px;
  margin-left: 15px;
  color: #60F7DC;
}

i {

  opacity: 0.5;
  padding: 5px;
}

.team-show{
  background-color: white;

  padding: 30px 30px;
  font-family: Roboto;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.team-show h4{
  font-weight: 900;
  font-size: 25px;
  color: #60F7DC;
  margin-top: 10px;
}


.count{
  font-size: 22px;
  color: lightgrey;
}

.description {
  color: lightgrey;
}


.tavatar{
  position: absolute;
  left: 15px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: cover;
}
