@import "bootstrap-sprockets";
@import "bootstrap";
@import "components/index";




body {
  background: #F4F4F4;
}


p {
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 color: #6E6C6C;
}

h1 {

font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 900;

}

h3{
  font-family: 'Roboto', sans-serif;
}



h4{
font-family: 'Roboto', sans-serif;
}





.white-container{
  background: white;
  padding: 50px 80px;
}

.white-container h1 {
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 700;
padding-bottom: 40px;
color: #A0A3A2;
}


.white-container h3 {
color: #061635;
font-size: 35px;
margin-top: 5%;
font-family: 'Roboto', sans-serif;
font-weight: 900;
}


.dash-container{
  background: #FBFBFB;
  padding: 10px 10px;
  display: flex;
  margin: -20px;
}

.dash-container h3{
  font-size: 15px;
  background: white;
  padding: 5px 10px;
  margin:10px;
  border-radius: 5px;
}

.dash-container h2{
  color: #061635;
font-size: 25px;
font-weight: 700px;
background: white;
  padding: 5px 10px;
  margin:10px;
   border-radius: 5px;
}

.blue-container-h{
  display:flex;
  background: #061635;
  color: white;
  height: 100vh;
  padding-top: 10%;
}


.blue-container-h a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.blue-container-h a:hover{
  transition: 0.5s;
  color: #061635;
  background: white;
  text-decoration: none;
  font-weight: 300;

}

.blue-container{
  background: #061635;
}



.grey-container{
  background: #F5F5F5;
  padding: 5px 0px;
  margin: 10px 100px;
}



