@import "bootstrap-sprockets";
@import "bootstrap";
@import "components/index";




body {
  background: #F4F4F4;
}


p {
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
}

h1 {

font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 900;

}




h4{
font-family: 'Roboto', sans-serif;
}






.white-container{
  background: white;
  padding: 50px 50px;
}

.white-container h1 {
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 700;
padding-bottom: 40px;
color: #A0A3A2;
}


.white-container h3 {
color: #092150;
font-size: 35px;
margin-top: 5%;
font-family: 'Roboto', sans-serif;
font-weight: 900;
}


.blue-container{
  display:flex;
  background: #092150;
  color: white;
  height: 100vh;
  padding-top: 10%;
}


.blue-container a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.blue-container a:hover{
  transition: 1s;
  color: #22F6E9;
  background: white;

}

.grey-container{
  background: #F5F5F5;
  padding: 5px 0px;
}



