@import "bootstrap-sprockets";
@import "bootstrap";
@import "components/index";

body {
  background: #F4F4F4;
}


p {
  font-family: Lato;
}

h1 {
text-align: center;
font-family: Lato;
font-size: 900;
font-weight: 900;
}


.white-container{
  background: white;
  padding: 50px 50px;
}



.blue-container{
  background: #22F6E9;
  color: white;
  height: 2920vh;
}


.blue-container a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.blue-container a:hover{
  transition: 1s;
  color: #22F6E9;
  background: white;



}
